bin/*
/bin/
/populationTally.*
/debug.*
populationTally.*
debug.log

.metadata/
single-facility.rs/launch.props
Repast.settings
debug.log

Repast.settings

ModelOutput*.txt
debug.log ssh_remote_model.log velocity.log
output/*.jar
output/*.props
output/*.txt
/batch_configuration.properties*
ssh_remote_model.log
*.txt
build_model_archive.log
/new_analysis/.quarto/*.*
/new_analysis/
