bin/*
/bin/
/populationTally.*
/debug.*
populationTally.*
debug.log

.metadata/
single-facility.rs/launch.props
Repast.settings
debug.log

Repast.settings

ModelOutput*.txt
debug.log ssh_remote_model.log velocity.log
